.vehicles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.vehicle-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.vehicle-card {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.vehicle-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.vehicle-card h4 {
  font-size: 1.5em;
  margin-top: 15px;
  color: #333;
}

.vehicle-card p {
  color: #777;
  font-size: 1.2em;
  margin: 10px 0;
}

.vehicle-card a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  margin-top: 15px;
  display: inline-block;
}

.vehicle-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.header_vehicles {
  text-align: center;
  font-size: 2.5em;
  margin-top: 40px;
  color: #333;
}